@media screen and (max-width: 440px) {
  #pb-30px {
    padding-bottom: 50px;
  }
}
*,
body {
  font-family: 'Open Sans', sans-serif;
}
.bar-notorange {
  margin-top: 20px;
  padding-left: 40%;
  padding-right: 5%;
}
#bk {
  color: #000;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.card h2,
.card-body h2,
.card p,
.card-body p {
  color: #000;
}
.card {
  width: 90%;
  margin: auto;
  display: block;
}
.cta {
  background: #ff6d6d;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  top: 10px;
}
.cta a,
.cta p {
  text-align: right;
  color: #fff;
  font-size: 0.8em;
}
#description {
  font-size: 0.8em;
  color: #808080;
}
.dualBtn {
  bottom: 20px;
  display: inline-block;
  right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.dualBtn a {
  color: #fff;
}
.dualBtn a:hover {
  color: #1f1d35;
}
.dualBtn .main {
  padding: 5px;
  border-radius: 0 50px 50px 0;
  background: #ff6d6d;
}
.dualBtn .grey {
  padding: 5px;
  border-radius: 50px 0 0 50px;
  background: #969191;
}
.firstcharacter {
  font-size: 2em;
  margin: 0px;
  padding: 0px;
}
#img-fixed {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 444px) {
  #pb-30px {
    padding-bottom: 50px;
  }
}
#mainColor {
  color: #ff6d6d;
}
.mainColor {
  color: #ff6d6d;
  font-size: 1.3em;
}
#small-text {
  font-size: 0.8em;
  line-height: 10px;
}
.watchmore {
  color: #ff6d6d;
  text-decoration: none;
  font-style: none;
}
.p2em {
  padding: 2em;
}
#redchainColor {
  color: #ff6d6d;
  font-family: Verdana;
}
.servcs {
  color: #000;
  padding: 2em;
  margin-bottom: 2em;
}
.servcs p {
  padding-right: 3em;
  padding-left: 3em;
}
.bgW {
  background: #fff;
}
.bgBl {
  background: #969191;
  color: #fff;
  padding: 2em;
}
.logoServices {
  width: 50%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.descAbout {
  font-size: 1.2em;
}
