maincolor = #f45f47

.watchmore
    color maincolor
    text-decoration: none
    font-style: none

#description
    font-size: 0.8em
    color grey

.bar-notorange
    margin-top: 20px
    padding-left: 30%
    padding-right: 5%

#img-fixed
    height auto
    width: 100%

#small-text
    font-size: 0.8em
    line-height 10px

.mainColor
    color maincolor