.watchmore {
  color: #f45f47;
  text-decoration: none;
  font-style: none;
}
#description {
  font-size: 0.8em;
  color: #808080;
}
.bar-notorange {
  margin-top: 20px;
  padding-left: 40%;
  padding-right: 5%;
}
#img-fixed {
  height: auto;
  width: 100%;
}
#small-text {
  font-size: 0.8em;
  line-height: 10px;
}
#mainColor {
  color: #f45f47;
}
.card h2,
.card-body h2,
.card p,
.card-body p {
  color: #000;
}
.card {
  width: 90%;
  margin: auto;
  display: block;
}
#bk {
  color: #000;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.firstcharacter {
  font-size: 2em;
  margin: 0px;
  padding: 0px;
}
