maincolor = #ff6d6d
mainpink = #f45f47

.bar-notorange
    margin-top: 20px
    padding-left: 40%
    padding-right: 5%

#bk
    color: black
    padding: 0px
    margin: 0px
    border: 0px
    
.card, .card-body
    & h2, p
        color: black
.card
    width: 90%
    margin: auto
    display: block
    
#description
    font-size: 0.8em
    color grey

.firstcharacter
    font-size: 2em
    margin: 0px
    padding: 0px

#img-fixed
    height auto
    width: 100%

#mainColor
    color maincolor
    
#small-text
    font-size: 0.8em
    line-height 10px

.watchmore
    color maincolor
    text-decoration: none
    font-style: none