mainBlue = #1f1d35
maincolor = #ff6d6d
mainpink = #f45f47

.bar-notorange
    margin-top: 20px
    padding-left: 40%
    padding-right: 5%

#bk
    color: black
    padding: 0px
    margin: 0px
    border: 0px
    
.card, .card-body
    & h2, p
        color: black
.card
    width: 90%
    margin: auto
    display: block
    
#description
    font-size: 0.8em
    color grey

.firstcharacter
    font-size: 2em
    margin: 0px
    padding: 0px

#img-fixed
    height auto
    width: 100%

#mainColor
    color maincolor

.mainColor
    color maincolor
    font-size: 1.3em

#small-text
    font-size: 0.8em
    line-height 10px

.watchmore
    color maincolor
    text-decoration: none
    font-style: none
    
.p2em
    padding 2em
    
.servcs
    color black
    padding 2em
    margin-bottom 2em
    & p
        padding-right 3em
        padding-left 3em
    
.bgW
    background white
    
.bgBl
    background mainBlue
    color white
    padding 2em

.logoServices
    width: 50%
    margin-top: 2em
    margin-left: auto
    margin-right: auto
    display: block

.descAbout
    font-size: 1.2em